@media (max-width: 912px) {
  .commentKeywordContainer{
    margin-left: 5px;
  }

  .detailVideoTitle {
    margin-left: 5px !important;
  }

  .emptyStateContainer {
    text-align: left;
    margin-right: 200px !important;
    margin-left: 15px !important;
  }

  .commentKeywordTitle {
    margin-top: 30px !important;
    margin-left: 5px !important;
  }

  .sentimentTitle {
    font-size: 18px;
    margin-top: 40px !important;
    margin-right: 70px !important;
  }

  .noSentimentMessage {
    font-size: 14px;
    text-align: center;
    margin-right: 10px !important;
  }

  .sentimentChart {
    width: 100%;
    height: 200px;
    margin-left: 40px;
  }

  .sentimentDetails {
    margin-top: 20px;
    padding: 10px;
  }

  .sentimentItem {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

@media (max-width: 885px) {
  .sentimentChartText {
    text-align: center;
  }
  
  .totalComments {
    margin-right: 50px;
  }
  
  .sentimentsText {
    margin-right: 45px;
  }
}