@media (max-width: 902px) {
    .skeletonKeywords {
      flex-direction: column;
      align-items: center;
      gap: 10px; 
      width: auto; 
    }
  
    .noKeywordMessage {
      font-size: 14px; 
      margin-top: -50px;
    }

    .sentimentTitle {
      margin-left: 50px;
    }

    .skeletonKeywords {
      display: none; 
    }  

    .sentimentText {
      margin-left: 10px !important; 
    }

    .noSentimentDataContainer {
      padding: 10px;
      margin-right: 50px;
    }
  
    .noSentimentDataCircle {
      width: 90%; 
      height: auto;
    }
  
    .noSentimentMessage {
      font-size: 14px; 
      margin-left: 10px;
    }
  }